.text-deco {
  text-decoration: line-through;
}

.u-section-1 .u-sheet-1 {
  min-height: 2430px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 39px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 263px;
  min-height: 198px;
  height: auto;
  background-image: none;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  height: 196px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px auto 0 57px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -26px auto 0 156px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 0;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 17px 22px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 53px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -28px auto 0 150px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0 38px;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 0;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 18px 22px 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 54px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: -28px 65px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 5px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 15px 17px 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 51px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: -29px 43px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 263px;
  min-height: 198px;
  height: auto;
  background-image: none;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-5 {
  height: 196px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px auto 0 57px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: -26px auto 0 156px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 0;
}

.u-section-1 .u-image-6 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 17px 22px 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 53px;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: -28px auto 0 150px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0 38px;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-6 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-9 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 0;
}

.u-section-1 .u-image-7 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 18px 22px 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 51px;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: -27px 51px 0 auto;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-7 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-10 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 5px;
}

.u-section-1 .u-image-8 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-text-23 {
  font-size: 1.125rem;
  margin: 15px 17px 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 56px;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  margin: -27px 54px 0 auto;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-8 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 59px auto 0 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 263px;
  min-height: 198px;
  height: auto;
  background-image: none;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-9 {
  height: 196px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px auto 0 57px;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  margin: -26px auto 0 156px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-9 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-13 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 0;
}

.u-section-1 .u-image-10 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.125rem;
  margin: 17px 22px 0;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px auto 0 43px;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: -29px auto 0 150px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0 38px;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-10 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-14 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 0;
}

.u-section-1 .u-image-11 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-33 {
  font-size: 1.125rem;
  margin: 18px 22px 0;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 51px;
}

.u-section-1 .u-text-35 {
  font-size: 1rem;
  margin: -27px 51px 0 auto;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-11 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-15 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 5px;
}

.u-section-1 .u-image-12 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-text-36 {
  font-size: 1.125rem;
  margin: 15px 17px 0;
}

.u-section-1 .u-text-37 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 56px;
}

.u-section-1 .u-text-38 {
  font-size: 1rem;
  margin: -27px 54px 0 auto;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-12 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 263px;
  min-height: 198px;
  height: auto;
  background-image: none;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-13 {
  height: 196px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-39 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px auto 0 57px;
}

.u-section-1 .u-text-41 {
  font-size: 1rem;
  margin: -26px auto 0 156px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-13 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-18 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 0;
}

.u-section-1 .u-image-14 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-42 {
  font-size: 1.125rem;
  margin: 17px 22px 0;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 53px;
}

.u-section-1 .u-text-44 {
  font-size: 1rem;
  margin: -28px auto 0 150px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0 38px;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-14 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-19 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 0;
}

.u-section-1 .u-image-15 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-45 {
  font-size: 1.125rem;
  margin: 18px 22px 0;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 51px;
}

.u-section-1 .u-text-47 {
  font-size: 1rem;
  margin: -27px 51px 0 auto;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-15 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-20 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 5px;
}

.u-section-1 .u-image-16 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-text-48 {
  font-size: 1.125rem;
  margin: 15px 17px 0;
}

.u-section-1 .u-text-49 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 56px;
}

.u-section-1 .u-text-50 {
  font-size: 1rem;
  margin: -27px 54px 0 auto;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-16 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  margin: 51px auto 0 0;
}

.u-section-1 .u-layout-wrap-5 {
  margin-top: 15px;
  margin-bottom: 25px;
}

.u-section-1 .u-layout-cell-17 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 263px;
  min-height: 198px;
  height: auto;
  background-image: none;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-17 {
  height: 196px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-text-52 {
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0 46px;
}

.u-section-1 .u-text-54 {
  font-size: 1rem;
  margin: -27px 48px 0 auto;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-17 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-18 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-23 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 0;
}

.u-section-1 .u-image-18 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-55 {
  font-size: 1.125rem;
  margin: 17px 22px 0;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 50px;
}

.u-section-1 .u-text-57 {
  font-size: 1rem;
  margin: -28px auto 0 150px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0 38px;
  padding: 14px 49px 15px;
}

.u-section-1 .u-icon-18 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-19 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-24 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 0;
}

.u-section-1 .u-image-19 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-58 {
  font-size: 1.125rem;
  margin: 18px 22px 0;
}

.u-section-1 .u-text-59 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0 51px;
}

.u-section-1 .u-text-60 {
  font-size: 1rem;
  margin: -27px 51px 0 auto;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 26px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-19 {
  font-size: 1.3572em;
  margin-right: 2px;
}

.u-section-1 .u-layout-cell-20 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-25 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 5px;
}

.u-section-1 .u-image-20 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-1 .u-text-61 {
  font-size: 1.125rem;
  margin: 15px 17px 0;
}

.u-section-1 .u-text-62 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0 56px;
}

.u-section-1 .u-text-63 {
  font-size: 1rem;
  margin: -27px 54px 0 auto;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  --radius: 10px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 14px 54px 15px 53px;
}

.u-section-1 .u-icon-20 {
  font-size: 1.3572em;
  margin-right: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2070px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-1 .u-group-1 {
    width: 228px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 117px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-image-2 {
    height: 176px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 338px;
  }

  .u-section-1 .u-image-3 {
    height: 176px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 338px;
  }

  .u-section-1 .u-image-4 {
    height: 174px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 123px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 338px;
  }

  .u-section-1 .u-group-2 {
    width: 228px;
    height: auto;
  }

  .u-section-1 .u-image-5 {
    height: 170px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 20px;
    margin-left: 117px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 338px;
  }

  .u-section-1 .u-image-6 {
    height: 176px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 338px;
  }

  .u-section-1 .u-image-7 {
    height: 176px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 338px;
  }

  .u-section-1 .u-image-8 {
    height: 174px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 123px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 338px;
  }

  .u-section-1 .u-group-3 {
    width: 228px;
    height: auto;
  }

  .u-section-1 .u-image-9 {
    height: 170px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-29 {
    margin-top: 20px;
    margin-left: 117px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 338px;
  }

  .u-section-1 .u-image-10 {
    height: 176px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 338px;
  }

  .u-section-1 .u-image-11 {
    height: 176px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-35 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 338px;
  }

  .u-section-1 .u-image-12 {
    height: 174px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 123px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 338px;
  }

  .u-section-1 .u-group-4 {
    width: 228px;
    height: auto;
  }

  .u-section-1 .u-image-13 {
    height: 170px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 20px;
    margin-left: 117px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 338px;
  }

  .u-section-1 .u-image-14 {
    height: 176px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-44 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 338px;
  }

  .u-section-1 .u-image-15 {
    height: 176px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-47 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 338px;
  }

  .u-section-1 .u-image-16 {
    height: 174px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 123px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 338px;
  }

  .u-section-1 .u-group-5 {
    width: 228px;
    height: auto;
  }

  .u-section-1 .u-image-17 {
    height: 170px;
  }

  .u-section-1 .u-text-54 {
    margin-top: 20px;
    margin-left: 117px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 338px;
  }

  .u-section-1 .u-image-18 {
    height: 176px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-57 {
    margin-top: 20px;
    margin-left: 112px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 338px;
  }

  .u-section-1 .u-image-19 {
    height: 176px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-59 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-60 {
    margin-top: 20px;
    margin-left: 114px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 338px;
  }

  .u-section-1 .u-image-20 {
    height: 174px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-63 {
    margin-left: 123px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: -3px;
    margin-right: -3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -26px;
    margin-right: 90px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-1 .u-image-2 {
    height: 248px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 34px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 15px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -29px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 461px;
  }

  .u-section-1 .u-image-3 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 11px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -26px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 461px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 248px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 21px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 10px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -26px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 458px;
  }

  .u-section-1 .u-image-5 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 14px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -29px;
    margin-right: 97px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 458px;
  }

  .u-section-1 .u-image-6 {
    height: 248px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 33px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 11px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -26px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 452px;
  }

  .u-section-1 .u-image-7 {
    height: 248px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 19px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -28px;
    margin-right: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 452px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 248px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 15px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -26px;
    margin-right: 103px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 458px;
  }

  .u-section-1 .u-image-9 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-left: 89px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -29px;
    margin-right: 103px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 458px;
  }

  .u-section-1 .u-image-10 {
    height: 248px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 34px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-left: 85px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: -29px;
    margin-right: 88px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 448px;
  }

  .u-section-1 .u-image-11 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 11px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -26px;
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-12 {
    height: 248px;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 18px;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: 13px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: -26px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 460px;
  }

  .u-section-1 .u-image-13 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: 14px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-41 {
    width: auto;
    margin-top: -26px;
    margin-right: 95px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 460px;
  }

  .u-section-1 .u-image-14 {
    height: 248px;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-top: 33px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-left: 81px;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-top: -27px;
    margin-right: 97px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 451px;
  }

  .u-section-1 .u-image-15 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-45 {
    width: auto;
  }

  .u-section-1 .u-text-46 {
    width: auto;
    margin-top: 17px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-47 {
    width: auto;
    margin-top: -29px;
    margin-right: 90px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 451px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-16 {
    height: 248px;
    width: 345px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-top: 15px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-50 {
    width: auto;
    margin-top: -26px;
    margin-right: 93px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 26px;
    margin-right: 61px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 457px;
  }

  .u-section-1 .u-image-17 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-53 {
    width: auto;
    margin-top: 17px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-54 {
    width: auto;
    margin-top: -29px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 457px;
  }

  .u-section-1 .u-image-18 {
    height: 248px;
  }

  .u-section-1 .u-text-55 {
    width: auto;
    margin-top: 33px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-56 {
    width: auto;
    margin-top: 18px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-57 {
    width: auto;
    margin-top: -29px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 446px;
  }

  .u-section-1 .u-image-19 {
    height: 248px;
    width: 100%;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-text-59 {
    width: auto;
    margin-top: 15px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-60 {
    width: auto;
    margin-top: -29px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 24px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 446px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-20 {
    height: 248px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-61 {
    width: auto;
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-62 {
    width: auto;
    margin-top: 11px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-63 {
    width: auto;
    margin-top: -26px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 405px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 157px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -28px;
    margin-left: 255px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -29px;
    margin-left: 263px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -26px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 405px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 157px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -29px;
    margin-left: 253px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -27px;
    margin-left: 255px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -27px;
    margin-left: 263px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -26px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-image-10 {
    height: 405px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 157px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -27px;
    margin-left: 255px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-38 {
    margin-top: -27px;
    margin-left: 263px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-group-4 {
    width: 100px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 446px;
    margin-left: 509px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-1 .u-image-14 {
    height: 992px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 157px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-44 {
    margin-top: -29px;
    margin-right: 216px;
    margin-left: 253px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-1 .u-text-46 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-47 {
    margin-top: -27px;
    margin-right: 291px;
    margin-left: 255px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 100px;
  }

  .u-section-1 .u-image-16 {
    height: 72px;
    width: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-50 {
    margin-top: -27px;
    margin-right: 648px;
    margin-left: 263px;
  }

  .u-section-1 .u-btn-16 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 100px;
  }

  .u-section-1 .u-text-54 {
    margin-top: -27px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 100px;
  }

  .u-section-1 .u-image-18 {
    height: 405px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
    margin-left: 157px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-57 {
    margin-left: 253px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-19 {
    min-height: 100px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-60 {
    margin-top: -27px;
    margin-left: 255px;
  }

  .u-section-1 .u-layout-cell-20 {
    min-height: 100px;
  }

  .u-section-1 .u-text-61 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-62 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-63 {
    margin-top: -27px;
    margin-left: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    height: 255px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 57px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 153px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 155px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 163px;
  }

  .u-section-1 .u-image-6 {
    height: 255px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 57px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 153px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 155px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 163px;
  }

  .u-section-1 .u-image-10 {
    height: 255px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 57px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 153px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 155px;
  }

  .u-section-1 .u-image-12 {
    height: 244px;
    width: 340px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 72px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 1px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-44 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-46 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 155px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 163px;
  }

  .u-section-1 .u-image-18 {
    height: 255px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 57px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-57 {
    margin-left: 153px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-59 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-60 {
    margin-left: 155px;
  }

  .u-section-1 .u-text-61 {
    margin-left: 5px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-63 {
    margin-left: 163px;
  }
}